#about {
  padding: 2rem;
}
#about-text {
  font-size: 2rem;
}
#about-div {
  display: flex;
  flex-wrap: wrap;
}
#about-div svg {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
}
#about svg > path{
  fill: var(--accent);
}
