#about-text {
  font-size: 30px;
  margin-top: 150px;
  margin-left: 50px;
}
#about-table {
  border-spacing: 25px 0;
  margin-left: 25px;
}
#about-table td,
#about-table {
  border: 0;
}
#about-table img {
  width: 100px;
}
