@use 'blog_list.scss';
@use 'blog_post.scss';
@use 'nav.scss';
@use 'about.scss';

:root {
    color-scheme: light dark;
    --background: light-dark(#E3E3E3, #0F0F0F);
    --on-background: light-dark(rgba(0,0,0,0.1), #232428);
    --on-background-hover: light-dark(rgba(0,0,0,0.15), #3F4047);
    --text-background: light-dark(#5B5B5B, #BABABA);
    --text-on-background: light-dark(#282828, #AEAEAE);
    --secondary-text-on-background: light-dark(#686868, #8B8B8B);
    --accent: light-dark(#000E8E, #7E52A0);
    --accent-1: light-dark(#000E8E, #3D2B4B);
    --accent-2: light-dark(#000A63, #281C32);
    --accent-3: light-dark(#000A63, #1F1626);
    --accent-hover: light-dark(white, #FF94DB);
    --header: 2rem;
    --sub: 0.9rem;
    --body: 1rem;
    --lineheight: 2rem;
    --header2: 1.5rem;
    --blog-post-height: 8rem;
    --blog-post-width: 8rem;
    --nav-margin: 2rem;

    --content-width-padding: 50px;
    --content-height-padding: 20px;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    color: var(--text-on-background);
    transition: background 0.3s, color 0.3s;
}

.date,
.more,
.pagination,
h1,
h2, {
    font-family: "Chakra Petch", sans-serif;
}

nav,
.links-standalone,
.subheader,
footer {
    font-family: "Bitcount Grid Single", system-ui;
}
html {
    font-size: var(--body);
    font-family: "Archivo", sans-serif;
}


//h3 {
//    font-family: "Chakra Petch", sans-serif;
//    text-decoration: underline;
//    text-transform: uppercase;
//}


details {
    border: 1px solid black;
    padding: 5px;
}

figure {
    margin: 0;
}


li {
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}
.pagination > a {
    margin: 0 5px;
    padding: 10px;
    color: var(--text-background);
    text-shadow: 0 0 4px var(--text-background);
}
.pagination > a.active {
    border: 2px dashed var(--accent);
}

footer {
    margin-top: var(--nav-margin);
    padding: 20px 40px 10px 40px;
    border-top: 2px dashed var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer span {
    margin: 0 2rem;
}


@media (prefers-color-scheme: dark) {
    :root:has([name="toggle-color-scheme"]:checked) {
        color-scheme: light;
    }
}
@media (prefers-color-scheme: light) {
    :root:has([name="toggle-color-scheme"]:checked) {
        color-scheme: dark;
    }
}
@media (max-width: 800px) {
    html {
        // Set relative sizing to be based on 12px
        font-size: 12px;
    }
    :root {
        // Override blog post width/height padding - smaller
        // looks better on smaller screens
        --content-width-padding: 1.5rem;
        --content-height-padding: 1rem;
        --body: 1.2rem;
    }
}
