.blog-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.blog-container > h1 {
  margin-top: 0;
}

.blog-link {
  display: flex;
  height: var(--blog-post-height);
  border-radius: 10px;
  background-color: var(--on-background);
  margin-bottom: 40px;
  position: relative;
  cursor: pointer;
  box-shadow: -1px 4px 8px rgba(0, 0, 0, 0.25);
}

.blog-link:hover {
  background-color: var(--on-background-hover);
}

.blog-link::after {
  /* credit to https://css-tip.com/corner-only-border-image/ for border */
  --s: 50px; /* the size on the corner */
  --t: 3px; /* the thickness of the border */
  --g: 10px; /* the gap between the border and image */
  border-radius: 20px;
  content: "";
  display: block;
  height: var(--blog-post-height);
  width: 100%;
  position: absolute;
  top: -13px;
  left: -13px;
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid var(--on-background); /* the color here */
  outline-offset: calc(-1 * var(--t));
  -webkit-mask: conic-gradient(at var(--s) var(--s), rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)), linear-gradient(#000 0 0) content-box;
  transition: 0.1s;
}

.blog-link:hover:after {
  outline-offset: calc(var(--g) / -1);
}

a .blog-link {
  text-decoration: none;
  color: var(--text-on-background);
}

.blog-link .blog-img {
  height: 100%;
  width: 100%;
  max-width: var(--blog-post-height);
  border-radius: 10px 0 0 10px;
  border: 1px solid black;
  object-fit: cover;
}

.blog-link .side {
  display: inline-block;
  vertical-align: top;
}

.blog-link .text {
  position: relative;
  width: 100%;
  margin: 5px 5px 5px 10px;
  height: inherit;
}

.blog-link .blog-link-title {
  font-weight: 600;
  margin: 0;
}

.blog-link .blog-link-body {
  margin: 0;
}

.blog-link .blog-bottom {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.blog-link .blog-bottom div {
  display: inline-block;
}

.blog-link .blog-bottom .more {
  float: right;
}

h1 {
  font-size: var(--header);
  color: var(--text-background);
  font-weight: 300;
  text-shadow: 0 0 4px var(--text-background);
}

h2 {
  font-size: var(--header2);
  color: var(--text-on-background);
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 500;
}

ul {
  padding-left: 0;
}

.blog-post {
  max-width: 850px;
  width: 90%;
  padding: var(--content-height-padding) var(--content-width-padding);
  border-radius: 10px;
  background-color: var(--on-background);
  color: var(--text-on-background);
  margin: 0 auto;
  position: relative;
  font-size: var(--body);
}

.blog-post h1 {
  text-transform: uppercase;
}

.blog-post .hero {
  width: calc(100% + 2 * var(--content-width-padding));
  position: relative;
  left: calc(var(--content-width-padding) * -1);
  top: -20px;
  border-radius: 10px 10px 0 0;
}

.blog-post .blog-img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.blog-post figcaption {
  color: var(--secondary-text-on-background);
  font-size: var(--sub);
  margin-top: 5px;
  text-align: center;
}

.blog-post h1 {
  margin-top: 0;
}

.blog-post p {
  line-height: var(--lineheight);
}

.blog-post a {
  color: var(--accent);
  text-shadow: 0 0 4px var(--accent);
}

table {
  margin: auto;
  border-collapse: collapse;
}

tr,
th,
td {
  padding: 10px;
}

table,
td,
th {
  border: 1px solid;
}

code {
  font-family: "Fira Code", monospace;
}

pre {
  display: block;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  overflow: scroll;
}

nav {
  padding: 10px 40px 20px 40px;
  border-bottom: 2px dashed var(--accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > div {
  display: inline-block;
}

nav > .links {
  display: flex;
}

nav > .name, .links, .links-standalone {
  color: var(--accent);
  font-size: var(--header);
  text-decoration: none;
}

nav > .name > .subheader p {
  margin: 0;
}

nav > div > a, .links-standalone > a, footer a {
  text-decoration: none;
  text-shadow: 0 0 5px var(--accent);
  color: var(--accent);
  transition: text-shadow 0.5s;
}

nav > div > a:hover {
  text-shadow: 0 0 10px var(--accent-hover);
}

nav header {
  display: inline-block;
}

.subheader {
  font-size: 1.1rem;
}

#hamburger-toggle {
  display: none;
}

#hamburg {
  display: none;
}

#hamburg > label {
  position: relative;
  display: block;
  height: 3rem;
  width: 3rem;
  border: 1px dashed var(--accent);
}

#hamburg .line {
  display: block;
  height: 1px;
  width: 1.5rem;
  position: absolute;
  background-color: var(--accent);
  left: 0.75rem;
  transition: transform 0.5s, opacity 0.25s;
}

#hamburg .line.l1 {
  top: 0.8rem;
}

#hamburg .line.l2 {
  top: 1.3rem;
}

#hamburg .line.l3 {
  top: 1.8rem;
}

#hamburg .line.l4 {
  top: 1.3rem;
  opacity: 0;
}

#hamburger-toggle:checked ~ label .line.l1 {
  opacity: 0;
}

#hamburger-toggle:checked ~ label .line.l2 {
  top: 1.3rem;
  transform: rotate(45deg);
}

#hamburger-toggle:checked ~ label .line.l3 {
  opacity: 0;
}

#hamburger-toggle:checked ~ label .line.l4 {
  top: 1.3rem;
  display: block;
  transform: rotate(-45deg);
  opacity: 1;
}

#hamburger-toggle:checked ~ .links-standalone {
  height: 5.5rem;
  padding: 10px 0;
}

.links-standalone {
  border-bottom: 2px dashed var(--accent);
}

.links-standalone {
  box-sizing: content-box;
  text-align: center;
  margin-bottom: var(--nav-margin);
  overflow: clip;
  height: 0;
  padding: 0;
  transition: height 0.5s, padding 0.5s;
}

.links-standalone > a {
  display: block;
  margin: 0 auto 5px auto;
}

.links-standalone > label.checkbox-label {
  margin: 0 auto;
}

.checkbox-label {
  display: flex;
  align-items: center;
  width: 4rem;
  height: 2rem;
  background: var(--on-background);
  border-radius: 100px;
  margin-left: 2rem;
  cursor: pointer;
}

.checkbox-label > .ball {
  display: block;
  background-size: cover;
  border-radius: 100px;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.2rem;
  transition: transform 0.2s;
}

#toggle:checked ~ nav .ball,
#toggle:checked ~ .links-standalone .ball {
  transform: translateX(2rem);
}

.checkbox {
  display: none;
}

.wrapper {
  max-width: 20rem;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.marquee p {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
@media (prefers-color-scheme: dark) {
  #toggle:checked ~ nav .ball,
  #toggle:checked ~ .links-standalone .ball {
    background-image: url("/blog/assets/images/sun.png");
  }
  #toggle ~ nav .ball,
  #toggle ~ .links-standalone .ball {
    background-image: url("/blog/assets/images/moon.png");
  }
}
@media (prefers-color-scheme: light) {
  #toggle:checked + .links > label > .ball {
    background-image: url("/blog/assets/images/moon.png");
  }
  #toggle + label > .ball {
    background-image: url("/blog/assets/images/sun.png");
  }
}
@media (max-width: 800px) {
  nav {
    display: block;
    padding: 5px 10px 10px 10px;
  }
  nav > .name {
    width: 80%;
    text-wrap: nowrap;
    overflow: clip;
    display: inline-block;
  }
  nav > #hamburg {
    display: inline-block;
    float: right;
  }
  nav .links {
    display: none;
  }
}
#about {
  padding: 2rem;
}

#about-text {
  font-size: 2rem;
}

#about-div {
  display: flex;
  flex-wrap: wrap;
}

#about-div svg {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
}

#about svg > path {
  fill: var(--accent);
}

:root {
  color-scheme: light dark;
  --background: light-dark(#E3E3E3, #0F0F0F);
  --on-background: light-dark(rgba(0,0,0,0.1), #232428);
  --on-background-hover: light-dark(rgba(0,0,0,0.15), #3F4047);
  --text-background: light-dark(#5B5B5B, #BABABA);
  --text-on-background: light-dark(#282828, #AEAEAE);
  --secondary-text-on-background: light-dark(#686868, #8B8B8B);
  --accent: light-dark(#000E8E, #7E52A0);
  --accent-1: light-dark(#000E8E, #3D2B4B);
  --accent-2: light-dark(#000A63, #281C32);
  --accent-3: light-dark(#000A63, #1F1626);
  --accent-hover: light-dark(white, #FF94DB);
  --header: 2rem;
  --sub: 0.9rem;
  --body: 1rem;
  --lineheight: 2rem;
  --header2: 1.5rem;
  --blog-post-height: 8rem;
  --blog-post-width: 8rem;
  --nav-margin: 2rem;
  --content-width-padding: 50px;
  --content-height-padding: 20px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--background);
  background-image: url("/blog/assets/images/black-orchid.png");
  background-blend-mode: overlay;
  color: var(--text-on-background);
  transition: background 0.3s, color 0.3s;
}

.date,
.more,
.pagination,
h1,
h2 {
  font-family: "Chakra Petch", sans-serif;
}

nav,
.links-standalone,
.subheader,
footer {
  font-family: "Bitcount Grid Single", system-ui;
}

html {
  font-size: var(--body);
  font-family: "Archivo", sans-serif;
}

details {
  border: 1px solid black;
  padding: 5px;
}

figure {
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination > a {
  margin: 0 5px;
  padding: 10px;
  color: var(--text-background);
  text-shadow: 0 0 4px var(--text-background);
}

.pagination > a.active {
  border: 2px dashed var(--accent);
}

footer {
  margin-top: var(--nav-margin);
  padding: 20px 40px 10px 40px;
  border-top: 2px dashed var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  margin: 0 2rem;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

#footer-wrapper {
  margin-top: auto;
}

@media (prefers-color-scheme: dark) {
  :root:has([name=toggle-color-scheme]:checked) {
    color-scheme: light;
  }
}
@media (prefers-color-scheme: light) {
  :root:has([name=toggle-color-scheme]:checked) {
    color-scheme: dark;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
  :root {
    --content-width-padding: 1.5rem;
    --content-height-padding: 1rem;
    --body: 1.2rem;
  }
}

/*# sourceMappingURL=styles.css.map */